.container{

}

.item-container{
    display: flex;    
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: 23px;
}

.item-container > :nth-child(1), .item-container > :nth-child(2) {
    margin-right: 16px;

}