.container {
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    overflow-x: scroll;
    padding: 6px 24px;
}

.container>* {
    margin-right: 16px;
    min-width: 80vw;
    flex-grow: 1;
}