.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.left,
.middle,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.left {
    flex-basis: 25%;
}

.middle {
    flex-basis: 50%;
}

.right {
    flex-basis: 25%;
}

.check {
    border-radius: 16px;
    padding: 13px;
}