.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.left,
.middle,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
}

.left {
    flex-basis: 25%;
}

.middle {
    flex-basis: 50%;
}

.right {
    flex-basis: 25%;
}

.check {
    border-radius: 16px;
    padding: 13px;
}

.left > *,
.right > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 18px;
}

@media (min-width:768px) {
    .left,.middle,.right{
        padding: 16px;
    }
    .left {
        flex-basis: 15%;
    }

    .middle {
        align-items: flex-start;
        flex-basis: auto;
        flex-grow: 1;
    }

    .right{
        align-items: flex-end ;
    }
    .check {
        min-width: 180px;
    }
}